= render "products/modules/header"

.review
  .review__tweets
    %h1 投稿
    %p お店の商品や利用していただいた方へ
    %p ご要望・ご指摘がございましたら、ご記入ください。
    .review-lists
      .review-lists__list
        .day-name
          .date-time
            = @tweet.created_at.strftime('%Y/%m/%d %H:%M')
          .user-name
            = @tweet.user.nickname
          .select-list
            -if user_signed_in? && current_user.id == @tweet.user.id
              -# = link_to '詳細', "/tweets/#{@tweet.id}", method: :get
              = link_to '削除', "/tweets/#{@tweet.id}", method: :delete
              = link_to '戻る', tweets_path
            - else
              -# = link_to '詳細', "/tweets/#{@tweet.id}", method: :get
              = link_to '戻る', tweets_path
     

        .text
          = simple_format @tweet.text
          -if user_signed_in? && current_user.admin
            master
            = link_to '削除', "/tweets/#{@tweet.id}", method: :delete
            
  .review__view
    コメント一覧
    -@comments.each do |comment|
      .comment-lists
        .comment-lists__list
          .day-name
            .date-time
              = comment.created_at
            .user-name
              = comment.user_id
            .select-list
              -if user_signed_in? && current_user.id == comment.user_id 
                = link_to '削除', "/tweets/#{@tweet.id}/comments/#{comment.id}", method: :delete
            
        = comment.text


  .review__comments
    -if user_signed_in? && current_user
      = form_with(model:[@tweet, @comment], local: true) do |f|
        = f.text_area :text, placeholder: "コメントする", rows: "2" 
        = f.submit "SEND"
        
    -else
      %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※

=render "products/modules/footer"
      

 