.footer
  .footer__main
    %ul.footer-lists
      %li 
        = link_to "会社概要"
      %li 
        = link_to "リクルート"
      %li 
        = link_to "お問い合わせ"
      %li 
        = link_to "test"
      %li 
        = link_to "test"
      %li 
        = link_to "test"
    %p HAIR MAKE Varenta 
