.footer
  .footer__main
    %ul.footer-lists
      %li 
        = link_to "会社概要"
      %li 
        = link_to "バレンタ"
      %li 
        = link_to "サイトマップ"
      %li 
        = link_to "リクルート"
      %li 
        = link_to "お問い合わせ"
      %li 
        = link_to "管理ページ"
    %p HAIR MAKE Varenta 
