.top-header
  .top-header__inner
    .top-header__inner__logo
      =link_to image_tag("varenta_logo.png",class:"top-logo"),root_path
      %p Hear & Make
    .menu-btn

    %button.reservation-btn
      予約フォーム
    %button.management-btn
      管理機能
    


    %button.form-btn
      - if user_signed_in?
        =  link_to "ログアウト", destroy_user_session_path, method: :delete
      - else
        =  link_to "ログイン", new_user_session_path, method: :get
    %button.mypage-btn
      - if user_signed_in?
        = link_to "マイページ", user_path(current_user.id)
      - else
        %h4
        = link_to "新規登録会員",new_user_registration_path

      
    
  .top-header__nav
    %ul.nav-lists
      %li.nav-list
        = link_to "お知らせ" ,products_news_path
        %ul
          %li 
            = link_to "NEWS"
          %li
            = link_to "schedule"
        %br
        %span news
      %li.nav-list
        = link_to "メニュー" ,products_price_path
        %br
        %span price
      %li.nav-list
        = link_to "ヘアスタイル" ,products_hairstyle_path
        %br
        %span hearstyle
      %li.nav-list
        = link_to "スタッフ",products_staff_path
        %br
        %span staff
      %li.nav-list
        = link_to "ショップ" ,products_shop_path
        %br
        %span onlineshop
      %li.nav-list
        = link_to "コンタクト" ,products_contact_path
        %br
        %span contact
    