.top-header
  .top-header__inner
    .top-header__inner__logo
      =link_to image_tag("varenta_logo.png",class:"top-logo"),root_path
      %p Hear & Make
    .menu-btn

   

    %button.form-btn
      - if user_signed_in?
        =  link_to "ログアウト", destroy_user_session_path
      - else
        =  link_to "ログイン", new_user_session_path
    %button.mypage-btn
      - if user_signed_in?
        = link_to "マイページ", user_path(current_user.id)
      - else
        %h4
        = link_to "新規登録会員",new_user_registration_path

      
    
  .top-header__nav
    %ul.nav-lists
      %li.nav-list
        = link_to posts_path class:"nav-list__point" do
          お知らせ
          %br
          %span news
      %li.nav-list
        = link_to products_price_path class:"nav-list__point" do
          メニュー
          %br
          %span price
      %li.nav-list
        = link_to products_hairstyle_path class:"nav-list__point" do
          ヘアスタイル
          %br
          %span hearstyle
      %li.nav-list
        = link_to products_staff_path class:"nav-list__point" do
          スタッフ
          %br
          %span staff
      %li.nav-list
        = link_to products_shop_path class:"nav-list__point" do
          ショップ
          %br
          %span onlineshop
      %li.nav-list
        = link_to products_contact_path class:"nav-list__point" do
          予約フォーム
          %br
          %span contact

      %li.nav-list
        = link_to new_group_path class:"nav-list__point" do
          お問い合わせ
          %br
          %span chatform
    