.info
  .info__contents
    .info__contents__news
      .info__contents__news__title
        %h3 N E W S
        %button 
          = link_to "MORE" ,products_news_path
      %ul.info-list
        %li.info-list-pickup 
          = link_to products_news_path class:"pickup-news " do
            %ul.pickup-news 
              %li.pickup-news__img
                = image_tag("news.png",class:"post-logo")
              %li.pickup-news__title
                %span 2020.05.03
              %li.pickup-news__new
                %span New
              %li.pickup-news__message
                6月営業のお知らせ

        %li.info-list-pickup 
          = link_to products_news_path class:"pickup-news " do
            %ul.pickup-news 
              %li.pickup-news__img
                = image_tag("news.png",class:"post-logo")
              %li.pickup-news__title
                %span 2020.05.02
              %li.pickup-news__new
                %span New
              %li.pickup-news__message
                ショップについて
              
        %li.info-list-pickup 
          = link_to products_news_path class:"pickup-news " do
            %ul.pickup-news 
              %li.pickup-news__img
                = image_tag("news.png",class:"post-logo")
              %li.pickup-news__title
                %span 2020.05.01
              %li.pickup-news__new
                %span New
              %li.pickup-news__message
                5月営業のお知らせ
        

    .info__contents__schedule
      .info__contents__schedule__title
        %h3 S C H E D U L E S
        %button 
          = link_to "MORE" ,products_news_path
      %ul.info-list
        %li.info-list-pickup 
          = link_to products_staff_path class:"pickup-schedule" do
            %ul.pickup-schedule
              %li.pickup-schedule__img
                = image_tag("staff/staff.fujiki2.png",class:"post-logo")
              %li.pickup-schedule__title
                %span 2020.05.05
              %li.pickup-schedule__new
                %span New
              %li.pickup-schedule__message
                代表挨拶
              
        %li.info-list-pickup 
          = link_to products_staff_path class:"pickup-schedule" do
            %ul.pickup-schedule
              %li.pickup-schedule__img
                = image_tag("staff/staff.yamaguchi2.png",class:"post-logo")
              %li.pickup-schedule__title
                %span 2020.05.04
              %li.pickup-schedule__new
                %span New
              %li.pickup-schedule__message
                テスト

        %li.info-list-pickup 
          = link_to products_staff_path class:"pickup-schedule" do
            %ul.pickup-schedule
              %li.pickup-schedule__img
                = image_tag("staff/staff.yamaguchi2.png",class:"post-logo")
              %li.pickup-schedule__title
                %span 2020.05.03
              %li.pickup-schedule__new
                %span New
              %li.pickup-schedule__message
                5月スタッフ休日表

    .info__contents__point
      .info__contents__point__tab
        %h3 A B O U T
        %button 
          = link_to "MORE" ,products_news_path
      .map-img
        = image_tag("map-img.jpg",class:"map-img")
        
      %ul.sns-btn
        %li.sns-btn__set
          =link_to image_tag("sns.png",class:"sns-logo"),root_path
        %li.sns-btn__line
          =link_to image_tag("line.png",class:"sns-logo"),root_path
        %li.sns-btn__youtube
          =link_to image_tag("youtube.png",class:"sns-logo"),root_path


    