-# ------------------------------
-#           Header
-# ------------------------------

= render "products/modules/header"

-# ------------------------------
-#           Admin
-# ------------------------------

-if user_signed_in? && current_user.admin
  = render "posts/admin/news_post"
  = render "posts/admin/news_form"
  = render "posts/admin/news_list"

  -# ------------------------------
  -#           User
  -# ------------------------------

-else
  = render "posts/modules/news_list"
  = render "posts/modules/news_info"

-# ------------------------------
-#           Footer
-# ------------------------------

= render "products/modules/footer"