.news-lists
  .news-lists__pickup
    %table.table
      %thead
        %tr
          %th.scope id
          %th.scope 投稿日
          %th.scope タイトル
          %th.scope 詳細
          %th.scope 編集
          %th.scope 削除

      %tbody
        -@posts.each do |post|
          %tr
            %th.scope 
              = post.id
            %th.scope
              = post.created_at
            %th.scope 
              = post.name
            %th.scope 
              = link_to '詳細', "/posts/#{post.id}", method: :get
            %th.scope 
              = link_to '編集', "/posts/#{post.id}/edit", method: :get

            %th.scope 
              = link_to '削除', "/posts/#{post.id}", method: :delete


  .pager
    .page-btn
      = paginate @posts

