.main-header
  .main-header__nav
    %h3 
      = link_to "NEWS"
    %h3
      = link_to "PRICE"
    %h3
      = link_to "STAFF","products/staff",class:"staff"
    %h3
      = link_to "HAIR STYLE"
    %h3
      = link_to "BLOG",""
    %h3
      =link_to "ONLINE SHOP",""
    %h3 
      = link_to "SIGN UP",""
    -# SIGN IN
    %h3
      = link_to "CONTACT",""
    -# 予約フォーム
    -# お問い合わせFORM
    -# ACCESS