=render "products/modules/header"

.hair-main
  
  .hair-main__title
    %h1 Hairstyle
  .hair-main__style 
    .hair-image
      = image_tag("main.logo.jpg",class:"hair-img")
    .hair-image
      = image_tag("main.logo.jpg",class:"hair-img")
    .hair-image
      = image_tag("main.logo.jpg",class:"hair-img")
    .hair-image
      = image_tag("main.logo.jpg",class:"hair-img")
    .hair-image
      = image_tag("main.logo.jpg",class:"hair-img")

