=render "products/modules/header"

.hair-main
  
  .hair-main__title
    %h1 Hairstyle
  -# Swiper START
  .swiper-container
    -# メイン表示部分
    .swiper-wrapper
      -# 各スライド
      .swiper-slide 
        = image_tag("hairstyle/hairstyle3.jpeg",class:"post-logo")
      .swiper-slide 
        = image_tag("hairstyle/hairstyle1.jpeg",class:"post-logo")
      .swiper-slide 
        = image_tag("hairstyle/hairstyle4.jpeg",class:"post-logo")
      .swiper-slide 
        = image_tag("hairstyle/hairstyle6.jpeg",class:"post-logo")
      .swiper-slide 
        = image_tag("staff/staff4.jpeg",class:"post-logo")
      .swiper-slide 
        = image_tag("hairstyle/hairstyle2.jpeg",class:"post-logo")
      .swiper-slide 
        = image_tag("user/background14.jpeg",class:"post-logo")
    .swiper-pagination
      -# Swiper END
    .swiper-button-prev
    .swiper-button-next
  
  .hair-models
    .hair-models__title
      Model
      %hr
    .hair-models__model
      %ul
        %li
          = image_tag("hairstyle/hairstyle3.jpeg",class:"post-logo")
        %li
          = image_tag("hairstyle/hairstyle1",class:"post-logo")
        %li
          = image_tag("hairstyle/hairstyle4.jpeg",class:"post-logo")
        %li
          = image_tag("hairstyle/hairstyle6.jpeg",class:"post-logo")
          
      %ul
        %li
          = image_tag("staff/staff4.jpeg",class:"post-logo")
        %li
          = image_tag("hairstyle/hairstyle2.jpeg",class:"post-logo")
        %li
          = image_tag("user/background14.jpeg",class:"post-logo")
        %li
          = image_tag("main.logo2.webp",class:"post-logo")

= render "products/modules/footer"



:javascript
  var swiper = new Swiper('.swiper-container', {
    slidesPerView: 3,
    effect: 'coverflow',
    navigation: {
      prevEl: '.swiper-button-prev', //左側にあるこれ「＜」
      nextEl: '.swiper-button-next', //右側にあるこれ「＞」
    },
    loop: true, //画像のループの有無
    speed: 1000, //スライドするスピード
    pagination: { //ページネーションの種類
      el: '.swiper-pagination',
      type: 'bullets',
      clickable: true, //クリック判定の有無
    },
    autoplay: { //自動スライド
      delay: 8000, //8秒ごとに
      disableOnInteraction: true
    },
  });