.wrapper
  -# ------------------------------
  -#           Header
  -# ------------------------------

  = render "products/modules/header"  
  = render "users/modules/mm-btn"

  -# ------------------------------
  -#           Main
  -# ------------------------------

  = render "products/modules/main"
  = render "posts/modules/news_info"

  -# ------------------------------
  -#           Footer
  -# ------------------------------

  = render "products/modules/footer"
