= render "products/modules/header"
= render "products/modules/pankuzu"

.shop
  .shop__main
    %ul.shop-images
      %li.shop-images__image
        = image_tag("shampoo.jpg",class:"shampoo-logo")
      %li.shop-images__image
        = image_tag("shampoo.jpg",class:"shampoo-logo")
      %li.shop-images__image
        = image_tag("shampoo.jpg",class:"shampoo-logo")