= render "products/modules/header"
= render "products/modules/pankuzu"

.shop
  .shop__main
    %ul.shop-images
      %li.shop-images__image
        = image_tag("shampoo.jpg",class:"shampoo-logo1")
        .shop-comment
          %p ヘアフレグランス
          %p 180ml  3,000円（税抜）
          %p お出かけ前にもお風呂後にもご使用ください。
          %p 頭皮ケア効果と殺菌効果もあり
          %p いい香りがいつでも簡単に
          %br/
          %p ご使用方法
          %p 生え際から毛先に向かって、５push 適量を髪に吹きかけ満遍なくマッサージをしてください。
      %li.shop-images__image
        .shop-comment
          %p ケアトリートメントセット
          %p 8,000円（税抜）
          %p 日々のお手入れのセット
          %p 1週間で効果絶大

          %p ご使用方法
          %p ......
          
        = image_tag("shop/shop1.jpeg",class:"shampoo-logo2")
      -# %li.shop-images__image
      -#   .shop-comment
      -#     %p ポイントリタッチ  ダークブラウン
      -#     %p 15ml  1,000円（税抜）
      -#     %p 白髪ケアマスカラ
      -#     %p お出かけ前にさっとひと塗り。
      -#     %p 生え際の白髪ケアに。
      -#     %p ダークブラウンカラーのマスカラタイプ

      -#     %p ご使用方法
      -#     %p キャップを閉めたまま容器を振ります。
      -#     %p 容器を立てたままキャップをゆるめ、ブラシ部分をまっすぐにゆっくりと引き抜きます。
      -#     %p 生え際から毛先に向かって、ブラシをすべらせるように適量を髪に塗布します。
      -#   = image_tag("shampoo.jpg",class:"shampoo-logo3")

= render "products/modules/footer"