=render "products/modules/header"


.staff
  .staff-title
    %h1 staff
  .staff-main
    %br
    %ul.staff__left
      %li.staff__left__pick
        = image_tag("staff/staff.jpeg",class:"staff-img")
        .staff-text 
          Top Stylist  ☆☆☆
          %br
          Michael:マイケル
          %br
          %br
          %p Messeage
          %p ご来店の際は、どうぞお気軽にお申し付けくださいませ。
      %li.staff__left__pick
        = image_tag("staff/staff3.jpeg",class:"staff-img")
        .staff-text 
          Top Stylist  ☆☆
          %br
          Ray：レイ
          %br
          %br
          %p Holiday
          %p 火  水
    
    %ul.staff__right
      %li.staff__right__pick
        = image_tag("staff/staff4.jpeg",class:"staff-img")
        .staff-text 
          Assisutant  
          %br
          Mairy：メアリー
          %br
          %br
          %p Messeage
          %p 新人です。よろしくお願いいたします。
      %li.staff__right__pick
        = image_tag("staff/we-are-hiring.jpg",class:"staff-img")
        .staff-text 
          アシスタント募集 

= render "products/modules/footer"