=render "products/modules/header"


.staff
  .staff-title
    %h1 staff
  .staff-main
    %br
    %ul.staff__left
      %li.staff__left__pick
        = image_tag("staff/staff.jpeg",class:"staff-img")
        .staff-text aaa
      %li.staff__left__pick
        = image_tag("staff/staff3.jpeg",class:"staff-img")
    
    %ul.staff__right
      %li.staff__right__pick
        = image_tag("staff/staff4.jpeg",class:"staff-img")
        .staff-text aaa
      %li.staff__right__pick
        = image_tag("staff/we-are-hiring.jpg",class:"staff-img")

= render "products/modules/footer"